.event.card{
    text-align: center;
    margin-bottom:30px;
    display:flex;
    justify-content: space-around;
    border-radius: 30px;
    margin-right: 60px;
}

.botones{
    display:flex;
    justify-content: space-between;
}